{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "story4_app/css/style.css" %}" type="text/css">
    <title>Rizdar</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'experiences' %}">Experiences</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'education' %}">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'skills' %}">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule' %}">Schedules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_schedule' %}">Add Schedules</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2" style="background-color:#FFA558;">
          <div class="sidebar">
            <div class="profile-image">
              <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/24774976_1881642771864939_1396606561150311266_n.jpg?_nc_cat=100&_nc_eui2=AeHrylLcfkY5pH-bILsWG21Y9na4aOlD_Y6kZVzHhEzqKD1A_8FbFS2C9xJsfnekZuqQ3_9ukMyyg4W0Cy8QGwz6WzbpA19On7dAR_k7D_Phvg&oh=6e8f78164945097652ccfa1ee4647ce7&oe=5C55500A"
              alt="Myself" class="rounded-circle img-fluid mx-auto d-block" style="width:200px;margin-top:10px;">
            </div>
            <div class="profile-desc">
              <div class="profile-name">
                <p class="text-center" style="margin-top:10px">Muhammad Rizki Darmawan</p>
              </div>
              <div class="profile-job">
                <p class="text-center">Information Systems Student</p>
              </div>
            </div>
            <div class="profile-buttons">
              <a href="{% url 'register' %}" class="btn btn-primary btn-block">Register</a>
            </div>
            <div class="profile-copyright">
              <p class="text-center" style="padding-top:135px;">Copyright 2018.<br>Muhammad Rizki Darmawan</p>
            </div>
          </div>
        </div>
        <div class="col-sm-10" style="background-color:#FFC99A;">
          <div class="heading-title">
            <h1 class="text-center montserrat-font-title">Education</h1>
          </div>
          <div class="body-experiences">
            <div class="row" style="margin-top:30px">
              <div class="col">
                <img class="mx-auto d-block img-fluid" src="https://pbs.twimg.com/profile_images/836388360251830273/pbZ6-n4b_400x400.jpg"
                alt="SDM 2 Pontianak" style="width:150px;">
              </div>
              <div class="col">
                <h2 class="montserrat-font">SD Muhammadiyah 2 Pontianak - 2005</h1>
              </div>
            </div>
            <div class="row" style="margin-top:30px">
              <div class="col">
                <img class="mx-auto d-block img-fluid" src="https://pbs.twimg.com/profile_images/1225058516/skol.JPG2.JPG"
                 alt="SMPN 3 Pontianak" style="width:150px;">
              </div>
              <div class="col">
                <h2 class="montserrat-font">SMP Negeri 3 Pontianak - 2011</h1>
              </div>
            </div>
            <div class="row" style="margin-top:30px">
              <div class="col">
                <img class="mx-auto d-block img-fluid" src="https://pbs.twimg.com/profile_images/378800000526559146/a07626843af669d213e5e794720627bc.jpeg"
                 alt="SMA Negeri 1 Pontianak" style="width:150px;">
              </div>
              <div class="col">
                <h2 class="montserrat-font">SMA Negeri 1 Pontianak - 2014</h1>
              </div>
            </div>
            <div class="row" style="margin-top:30px;margin-bottom:30px;">
              <div class="col">
                <img class="mx-auto d-block img-fluid" src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png"
                 alt="Universitas Indonesia" style="width:150px;">
              </div>
              <div class="col">
                <h2 class="montserrat-font">Fakultas Ilmu Komputer Universitas Indonesia - 2017</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
