.desc {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
  padding-top:100px;
  padding-left: 20px;
  padding-bottom:100px;
}

.montserrat-font-title {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
}

.montserrat-font {
  color: #47525E;
  font-family: 'Montserrat', sans-serif;
}

.lato-font {
  color: #47525E;
  font-family: 'Lato', sans-serif;
}
